* {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 20 ;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

body {
    margin: 0%;
    padding: 20%;
}

h1{
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

.selector {
    color: lightcyan;
}

.selectors{
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
#universal{
    color: lightgoldenrodyellow;
}

h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5%;
}

span {
    font-weight: 900;
    background-color: black;
    color: white;
}

li > a {
    text-decoration: none;
}

h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

#gallery div {
    width: 100%;
}

img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}