/* Regla 1: selector universal `*` para cambiar el tipo de fuente del documento */

* {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 20 ;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
/* Regla 2: `body` tendrá margen `0` y relleno de `20%`, asi centramos todo lo que esta en la pagina web */

body {
    margin: 0%;
    padding: 20%;
}
/* Regla 3: Los elementos `h1` estarán subrayados (`text-decoration: underline;`), de color `darkcyan` y alineados al centro */

h1{
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}
/* Regla 4. Los elementos con clase `selector` tendrán color `lightcyan`*/

.selector {
    color: lightcyan;
}
/* Regla 5. Los elementos con clase `selectors` tendrán un relleno de 5%, un `border: solid darkcyan 1px;` y esquinas redondeadas `border-radius` con valor de `5px*/

.selectors{
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
/* Regla 6. Los elementos con identificador (id) `universal` tendrán color `lightgoldenrodyellow` */

#universal{
    color: lightgoldenrodyellow;
}
/* Regla 7. Los elementos `h2` con clase `selector` y los elementos `h2` con identificador (id) `universal` tendrán color de fondo `darkcyan`, relleno de `1%` y esquinas redondeadas con valor de `5px` */

h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5%;
}
/* Regla 8. Los elementos `span` tendrán `font-weight: 900;` color de fondo negro y color de texto blanco */

span {
    font-weight: 900;
    background-color: black;
    color: white;
}
/* Regla 9. Los elementos `a` que sean hijos directos de algún `li` tendrán `text-decoration: none` */

li > a {
    text-decoration: none;
}
/* Regla 10. Los elementos `h3` tendrán color de fondo `background-color: rgba(0, 139, 139, 0.529);`, relleno de `0.5px` y esquinas redondeadas con valor de `5px` */

h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}
/* Regla 11. Los elementos `div` que sean descendientes de un elemento con id "gallery" tendrán un ancho `width` de `100%` */

#gallery div {
    width: 100%;
}
/* Regla 12. Los elementos `img` tendrán un ancho `width` de `100%`, un `border: solid darkcyan 1px;` y esquinas redondeadas con valor de `5px` */

img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}